body{
    background-color:lightgray;
    margin:0;
    padding: 0;
}
.orange{
    background-color:#e68e46;
}
.socials{
    margin-top: 25vh;
}
.email{
    margin-top:15vh
}
.email-address:hover, .icon:hover{
    transform: scale(1.3);
    color:#2b9bd5;
}

a{
    color:#e68e46;
}
h1 , P{
    font-family: 'Rufina', serif;
}
P{
   
}
.vertical{
    writing-mode: vertical-rl;
text-orientation: upright;
}
i{
    color:#e68e46;
}
#first-name{
    animation-name:appear;
    animation-duration:4s;
}
#middle-name{
    animation-name:appear;
    animation-duration:8s;
}
#last-name{
    animation-name:appear;
    animation-duration:11s;
}
#title{
    animation-name:appear;
    animation-duration:14s;
}
@keyframes appear{
    from{opacity:0;}
    to{opacity:1;}
}
#email{
     animation: drop 4s;
} 
#social-drop{
    animation:drop 4s;
}
@keyframes drop{
    from{bottom:120vh;}
    to{bottom: 0;}
}